body{
  background-color: black;
  color: white;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.mainContent{
  align-items: center;
  font-size: larger;
}